/* 
-------------------------------------------
----------------- CUSTOM INPUT -------------------
-------------------------------------------
*/

.custom_input {
	@apply column;

	label {
		@apply txt-sm f-b text-gray-500 capitalize;
	}

	input {
		@apply mt-2 border border-gray-200 rounded-lg px-4 p-3 text-[16px] f-m text-[#4B5563];

		&:focus {
			outline: none;
			box-shadow: 0px 0px 8px 0px #d2cec5, 0px 0px 8px 0px #d2cec50d;
		}

		&::placeholder {
			/* Chrome, Firefox, Opera, Safari 10.1+ */
			@apply text-gray-300 txt-sm f-m;
		}

		&:-ms-input-placeholder {
			/* Internet Explorer 10-11 */
			@apply text-gray-300 txt-sm f-m;
		}

		&::-ms-input-placeholder {
			/* Microsoft Edge */
			@apply text-gray-300 txt-sm f-m;
		}
	}
}

/* 
-------------------------------------------
----------------- Button -------------------
-------------------------------------------
*/

.btn {
	@apply rounded-lg px-[15.03px]  md:px-8 p-3 text-[15px] md:text-[16px] justify-center middle f-s text-white bg-gray-900;

	&.primary {
		@apply text-white bg-[#FF4B00];
	}

	&.ghost {
		@apply text-gray-600 txt-md f-s  bg-white border-gray-200 border;
	}

	&.auth {
		@apply h-[48px] py-3 text-[16px];
	}

	&:disabled {
		@apply bg-gray-200 text-gray-50 border border-gray-50  space-x-6  cursor-not-allowed;
	}

	&.copy {
		display: flex;
		width: 126px;
		padding: 12px 0px;
		justify-content: center;
		align-items: center;
		gap: 12px;
		align-self: stretch;

		border-radius: 0px 8px 8px 0px;
		// background: var(--primary-50, #FEF8F3);

		color: #ff4b00;

		/* Text sm/Bold */
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px; /* 142.857% */
	}
}

.btn-copy {
		display: flex;
		width: 156px;
		padding: 12px 6px;
		justify-content: center;
		align-items: center;
		gap: 12px;
		align-self: stretch;

		border-radius: 0px 8px 8px 0px;
		background: #FEF8F3;

		color: #ff4b00;

		/* Text sm/Bold */
		font-family: Inter;
		font-size: 14px;
		font-style: normal;
		font-weight: 700;
		line-height: 20px; /* 142.857% */
	}

/* 
-------------------------------------------
----------------- Dropdown -------------------
-------------------------------------------
*/

.dropdown {
	.carret {
		&.active {
			transform: rotate(180deg);
		}
	}

	&_filter {
		.carret {
			&.active {
				transform: rotate(180deg);
			}
		}

		.dropdown_body {
			@apply bg-white z-[9999] rounded-lg border-gray-100;
		}
	}
}

/* 
-------------------------------------------
----------------- Notificaion -------------
-------------------------------------------
*/
.notification_list {
	height: calc(100vh - 102px);

	@include smallPhone {
		height: calc(100vh - 30%);
		// height: 100%;
	}
}

/* 
-------------------------------------------
----------------- Typography -------------
-------------------------------------------
*/

.display {
	&-sm {
		font-size: 30px;
		line-height: 38px;

		@include tablet {
			line-height: 32px;
			font-size: 24px;
			letter-spacing: 0em;
		}
	}

	&-md {
		font-size: 36px;
		line-height: 44px;
		letter-spacing: -0.02em;
	}

	&-xs {
		line-height: 32px;
		font-size: 24px;
		letter-spacing: 0em;
	}
}

.txt {
	&-sm {
		font-size: 14px;
		line-height: 20px;
	}

	&-xs {
		font-size: 12px;
		line-height: 16px;
		@include smallPhone {
			font-size: 11.69px;
			line-height: 15.59px;
		}
	}

	&-md {
		font-size: 16px;
		line-height: 24px;
		@include smallPhone {
			font-size: 15.59px;
			line-height: 23.39px;
		}
	}

	&-xl {
		font-size: 20px;
		line-height: 30px;
		/* identical to box height, or 150% */
		@include smallPhone {
			font-size: 19.49px;
			line-height: 29.23px;
		}
	}

	&-lg {
		font-size: 18px;
		line-height: 28px;

		@include smallPhone {
			font-size: 17.54px;
			line-height: 27.28px;
		}
	}
}

// txt styles
.t {
	&-subtitle {
		@apply txt-sm f-m  text-gray-700;
	}

	&-xs-subtitle {
		@apply txt-xs f-m  text-gray-400;
	}

	&-header {
		@apply txt-md  f-b text-gray-700;

		@include smallPhone {
			@apply txt-md f-eb text-gray-800;
		}
	}

	&-header1 {
		@apply txt-md f-b text-gray-900;

		@include smallPhone {
			@apply txt-sm f-s text-gray-900;
		}
	}

	&-headerb7 {
		@apply txt-md f-b text-gray-700;
	}
}

// text colors --shorthabd

.t {
	&-g9 {
		@apply text-gray-900;
	}

	&-g7 {
		@apply text-gray-700;
	}
	&-g6 {
		@apply text-gray-600;
	}
	&-g5 {
		@apply text-gray-500;
	}
}

// text fonts --shorthand
.f {
	&-n {
		@apply font-normal;
	}

	&-m {
		@apply font-medium;
	}

	&-s {
		@apply font-semibold;
	}

	&-b {
		@apply font-bold;
	}

	&-eb {
		@apply font-extrabold;
	}

	&-bk {
		@apply font-black;
	}
}

/* 
-------------------------------------------
-------------------Bet details-----------
-------------------------------------------
*/

.bet-details-dropdown {
	transition: all 0.4s ease-in-out;

	.card-header {
	}

	.card_body {
		height: 0;
		display: none;
	}

	.card-footer-toggle {
	}

	&.active {
		.card-header {
		}

		.card_body {
			height: auto;
			display: block;
		}

		.card-footer-toggle {
			.carret {
				transform: rotate(180deg);
			}
		}
	}
}

/* 
-------------------------------------------
-------------------Bet details-----------
-------------------------------------------
*/

.filer_pane {
	// display: none;

	height: 0;
	padding: 0;
	transition: all 0.4s ease;

	.filte_catergory_wrapper {
		transition: all 0.1s ease;

		visibility: hidden;
		// display: none;
	}

	&.active {
		height: 110px;
		padding: 16px 8px;

		.filte_catergory_wrapper {
			visibility: visible;
		}
	}
}

.pushDown {
	margin-top: 0px;
	transition: all 0.4s ease-in-out;

	&.active {
		margin-top: 100px;
	}
}

/* 
-------------------------------------------
-------------------Home search componnet-----------
-------------------------------------------
*/

.home_search {
	width: 230px;
	transition: all 0.2s ease-in-out;
	background: #f9fafb;
	transform-origin: 0%;

	&-filter {
		display: none;
		padding: 10px 16px;
		align-items: center;
		gap: 12px;
		border-radius: 8px;
		border: 1px solid var(--grey-100, #f3f4f6);
		background: var(--grey-0, #fff);
	}

	.filter_dropdown {
		display: flex;
		width: 1200px;
		// @apply w-full br -ml-12;
		padding: 16px 24px;
		align-items: flex-start;
		gap: 16px;
		background: #fff;
		z-index: 60;

		/* Shadow/md */
		box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.1);

		@include smallPhone {
			gap: 8px;
			padding: 8px 12px;
		width: 700px;
		

		}
	}

	&.active {
		transition: all 0.2s ease-in-out;

		width: 80%;

		@include smallPhone {
			width: 100%;
		}
		// width: 100%;

		.home_search-filter {
			display: flex;
		}
	}
}

/* 
-------------------------------------------
-------------------Result card componnet-----------
-------------------------------------------
*/

.result_card {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	border-radius: 8px;
	border: 1px solid var(--grey-200, #e5e7eb);
	background: var(--grey-0, #fff);

	/* Shadow/md */
	box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.1);

	&_header {
		@apply p-4 flex items-start justify-between w-full;
		.ball {
			display: flex;
			width: 40px;
			height: 40px;
			padding: 10px;
			justify-content: center;
			align-items: center;
			border-radius: 8px;
			border: 1px solid #eaecf0;
			background: var(--base-white, #fff);

			/* Shadow/sm */
			box-shadow: 0px 1px 2px 0px rgba(16, 24, 40, 0.06), 0px 1px 3px 0px rgba(16, 24, 40, 0.1);
		}

		&_info {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			h1 {
				color: var(--grey-700, #374151);
				text-shadow: 40px 4px 0px #fff;

				/* Text md/Bold */
				font-family: Inter;
				font-size: 16px;
				font-style: normal;
				font-weight: 700;
				line-height: 24px; /* 150% */
			}

			p {
				color: var(--grey-400, #9ca3af);

				/* Text xs/Regular */
				font-family: Inter;
				font-size: 12px;
				font-style: normal;
				font-weight: 400;
				line-height: 16px; /* 133.333% */
			}
		}
	}

	.stake {
		background: var(--grey-100, #f3f4f6);

		h1.st {
			color: var(--grey-400, #9ca3af);

			/* Text sm/Medium */
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px; /* 142.857% */

			left: 50%;
			top: 50%;
			transform: translate(-50%, -50%);

			span {
				color: var(--grey-500, #6b7280);

				/* Text sm/Bold */
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 700;
				line-height: 20px;
			}
		}

		h1.pay {
			color: var(--grey-400, #9ca3af);
			text-align: right;

			/* Text sm/Medium */
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 500;
			line-height: 20px; /* 142.857% */

			span {
				color: var(--grey-700, #374151);

				/* Text sm/Black */
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 900;
				line-height: 20px;
			}
		}
	}
}

/* 
-------------------------------------------
-------------------Result modal  card-----------
-------------------------------------------
*/

.panel_content_result {
	.header {
		display: flex;
		width: 100%;
		padding: 24px 32px;
		flex-direction: column;
		justify-content: center;
		align-items: flex-start;
		gap: 8px;
		background: var(--grey-50, #f9fafb);

		.details {
			display: flex;
			align-items: center;
			gap: 16px;

			.ball {
				display: flex;
				padding: 12px;
				justify-content: center;
				align-items: center;
				gap: 10px;
				border-radius: 8px;
				background: var(--grey-100, #f3f4f6);
			}

			h1.name {
				color: var(--grey-700, #374151);

				/* Display xs/Bold */
				font-family: Inter;
				font-size: 24px;
				font-style: normal;
				font-weight: 700;
				line-height: 32px; /* 133.333% */
			}
		}

		h1.sub_name {
			color: var(--grey-400, #9ca3af);

			/* Text sm/Bold */
			font-family: Inter;
			font-size: 14px;
			font-style: normal;
			font-weight: 700;
			line-height: 20px; /* 142.857% */

			span {
				color: var(--grey-600, #4b5563);

				/* Text sm/Bold */
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 700;
				line-height: 20px;
			}
		}
	}

	.ele_card {
		display: flex;
		min-width: 448px;
		padding: 32px;
		justify-content: center;
		align-items: flex-start;
		gap: 158px;
		border-radius: 8px;
		border: 1px solid var(--grey-100, #f3f4f6);
		background: var(--grey-0, #fff);

		/* Shadow/md */
		box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.1);

		.amount_ {
			display: flex;
			flex-direction: column;
			justify-content: center;
			align-items: flex-start;

			h1 {
				color: var(--grey-700, #374151);

				/* Display sm/Extra bold */
				font-family: Inter;
				font-size: 30px;
				font-style: normal;
				font-weight: 800;
				line-height: 38px; /* 126.667% */
			}

			p {
				color: var(--grey-400, #9ca3af);

				/* Text sm/Medium */
				font-family: Inter;
				font-size: 14px;
				font-style: normal;
				font-weight: 500;
				line-height: 20px; /* 142.857% */
			}
		}
	}
}
