/* 
-------------------------------------------
-----------------AUTH----------------------
-------------------------------------------
*/
.auth {
  // auth page
  // @apply bg-green-400 w-full h-screen;
  &_google {
    background-image: url("/images/auth_google.png");
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    object-fit: cover;

    @include smallPhone {
      background-image: none;

    }

    &-card {
      @apply bg-white p-4 md:p-16 rounded-xl;
      box-shadow: 0px 8px 8px -4px #10182808, 0px 20px 24px -4px #10182814;

      @include smallPhone {
        box-shadow: none;
      }
    }
  }

  &_banner {
    &.login_banner {
      background-image: url("/images/login-banner.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      object-fit: cover;
    }

    &.sign_banner {
      background-image: url("/images/auth-banner.webp");
      background-position: center;
      background-size: cover;
      background-repeat: no-repeat;
      object-fit: cover;
    }

    &-content {
      @apply absolute w-full;
      transition: all 0.4s linear;
      &.login {
        @apply top-[0%] left-0 w-full pl-[90px] pt-[80px];
      }

      &.signIn {
        @apply bottom-[0%] left-0 w-full pl-[90px] pb-[80px];
      }
    }
  }
}

/* 
-------------------------------------------
----------------DASHBOARD-----------------
-------------------------------------------
*/

.dashboard {
  


  &_home {
    &-content {
      background-image: url("/images/home/banner.png");

      background-position: center;

      background-size: cover;

      background-repeat: no-repeat;

      object-fit: cover;

      &-sm {
        background-image: url("/images/home/banner-sm.png");
        background-position: right;

      background-size: cover;

      background-repeat: no-repeat;

      object-fit: cover;
      }
    }
  }

  &_create {
    // height: calc(100vh - 56px);
    &-inner {
        // height: calc(100vh - 56px);
      height: 100%;
      min-height: calc(100vh - 150px);
      @include smallPhone {
        height: calc(100vh - 150px);

        // background-color: red;
      }
    }
  }
}

.dashboard_layout{

  &-wrapper{
    // @apply bb;

  }

  &-body{
    @apply  h-full ;


    .main_page{
      height: calc(100vh - 56px);
      width: calc(100% - 240px);
      // @apply br;
      // height: 100vh;
      @include smallPhone {
        height: 100vh;
        width: 100%;

      }
      // @apply bb;
 
    }

  }
}

/* 
-------------------------------------------
----------------HOME-----------------
-------------------------------------------
*/

.home {
}

/* 
-------------------------------------------
----------------My Wallet-----------------
-------------------------------------------
*/

.my-wallet {
}

.create_aside {
  .header {
    background-image: url("/images/create/aside_banner.png");
    // background-position: center;

    background-size: cover;

    background-repeat: no-repeat;

    // object-fit: cover;
  }
}
