@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@import "utils.scss";
@import "pages.scss";
@import "components.scss";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	// font-family: 'Inter', 'sans-serif';
}

body {
	font-family: "Inter", sans-serif !important;
	@apply overflow-x-hidden;

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		@apply bg-gray-300;
	}

	&::-webkit-scrollbar-thumb {
		@apply bg-gray-600 outline-1 outline-gray-600;
	}
}

.custom-scrollbar {
	&::-webkit-scrollbar {
		width: 0px;
		height: 0;
	}

	&::-webkit-scrollbar-track {
		@apply bg-gray-300;
	}

	&::-webkit-scrollbar-thumb {
		@apply bg-gray-400 outline-1 outline-gray-400;
	}
}

.bet_card {
	.dots {
		visibility: hidden;
	}
	&:hover {
		.dots {
			visibility: visible;
		}
	}
}

.creators_card {
	.header {
		background-image: url("/icons/creator_header.png");
		// background-position: center;

		background-size: cover;

		background-repeat: no-repeat;

		// object-fit: cover;
	}
}

.teams_display_matches {
	@apply cursor-pointer  middle hover:border-gray-500 shadow-bet-card hover:shadow-none relative justify-around border border-gray-200 rounded-lg p-6;

	&.active {
		@apply border-gray-500 shadow-none;

		.selector {
			display: block;
		}
	}

	.selector {
		display: none;
	}

	&:hover {
		@apply border-gray-500 shadow-none;

		.selector {
			display: block;
		}
	}
}

.bet_details {
	height: calc(100vh - 56px);
}

.overlay {
	&.active {
	}
}

input[type="search"] {
	border-color: transparent !important;
}

// .mobile_create_btn{
//   width: 48px !important;
//   height: 48px;
// }

.dropdown_profile {
	.profile_item {
		@apply text-gray-700 text-[20px];
		&:hover {
			.profile_item-icon,
			p {
				@apply text-sec;
			}
		}
	}

	.profile_logout {
		@apply text-gray-700 text-[20px];

		&:hover {
			.profile_logout-icon,
			p {
				@apply text-sec;
			}
		}
	}
}

.threeDot {
	.edit_card {
		display: none;
	}
	&:hover {
		.edit_card {
			display: block;
		}
	}
}

.nothing_content {
	.nothing_text {
		color: var(--grey-600, #4b5563);
		text-align: center;

		/* Text md/Regular */
		font-family: Inter;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */

		span {
			color: var(--primary-500, #ff4b00);

			/* Text md/Semibold */
			font-family: Inter;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: 24px;
		}
	}
}

// -----
.ongoing {
	display: flex;
	padding: 4px 8px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 4px;
	background: var(--yellow-50, #fefbec);

	p {
		color: var(--yellow-600, #d3943b);

		/* Text xs/Semibold */
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: 16px; /* 133.333% */
	}
}

.won {
	display: flex;
	padding: 4px 8px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 4px;
	background: var(--success-green-100, #d1fadf);

	p {
		color: var(--success-green-600, #039855);

		/* Text xs/Semibold */
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: 16px; /* 133.333% */
	}
}

.lost {
	display: flex;
	padding: 4px 8px;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border-radius: 4px;
	background: var(--error-red-50, #fef2f2);
	p {
		color: var(--error-red-600, #dc2626);

		/* Text xs/Semibold */
		font-family: Inter;
		font-size: 12px;
		font-style: normal;
		font-weight: 600;
		line-height: 16px; /* 133.333% */
	}
}


.teams_name{
	color: var(--grey-600, #4B5563);

/* Text sm/Semibold */
font-family: Inter;
font-size: 14px;
font-style: normal;
font-weight: 600;
line-height: 20px; /* 142.857% */
}

.logo_box{
	display: flex;
padding: 4px;
align-items: flex-start;
gap: 5px;
border-radius: 12px;
border: 0.5px solid var(--grey-100, #F3F4F6);
background: #FFF;

/* Shadow/md */
box-shadow: 0px 2px 4px -2px rgba(16, 24, 40, 0.06), 0px 4px 8px -2px rgba(16, 24, 40, 0.10);
}