@tailwind base;
@tailwind components;
@tailwind utilities;

@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700;800;900&display=swap");

@import "utils.scss";
@import "pages.scss";
@import "components.scss";

* {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	// font-family: 'Inter', 'sans-serif';
}

body {
	font-family: "Inter", sans-serif !important;
	@apply overflow-x-hidden;

	&::-webkit-scrollbar {
		width: 4px;
	}

	&::-webkit-scrollbar-track {
		@apply bg-gray-300;
	}

	&::-webkit-scrollbar-thumb {
		@apply bg-gray-600 outline-1 outline-gray-600;
	}
}

.custom-scrollbar {
	&::-webkit-scrollbar {
		width: 0px;
		height: 0;
	}

	&::-webkit-scrollbar-track {
		@apply bg-gray-300;
	}

	&::-webkit-scrollbar-thumb {
		@apply bg-gray-400 outline-1 outline-gray-400;
	}
}

.bet_card {
	.dots {
		visibility: hidden;
	}
	&:hover {
		.dots {
			visibility: visible;
		}
	}
}

.creators_card {
	.header {
		background-image: url("/icons/creator_header.png");
		// background-position: center;

		background-size: cover;

		background-repeat: no-repeat;

		// object-fit: cover;
	}
}

.teams_display_matches {
	@apply cursor-pointer  middle hover:border-gray-500 shadow-bet-card hover:shadow-none relative justify-around border border-gray-200 rounded-lg p-6;

	&.active {
		@apply border-gray-500 shadow-none;

		.selector {
			display: block;
		}
	}

	.selector {
		display: none;
	}

	&:hover {
		@apply border-gray-500 shadow-none;

		.selector {
			display: block;
		}
	}
}

.bet_details {
	height: calc(100vh - 56px);
}

.overlay {
	&.active {
	}
}

input[type="search"] {
	border-color: transparent !important;
}

// .mobile_create_btn{
//   width: 48px !important;
//   height: 48px;
// }

.dropdown_profile {
	.profile_item {
		@apply text-gray-700 text-[20px];
		&:hover {
			.profile_item-icon,
			p {
				@apply text-sec;
			}
		}
	}

	.profile_logout {
		@apply text-gray-700 text-[20px];

		&:hover {
			.profile_logout-icon,
			p {
				@apply text-sec;
			}
		}
	}
}

.threeDot {
	.edit_card {
		display: none;
	}
	&:hover {
		.edit_card {
			display: block;
		}
	}
}

.nothing_content {
	.nothing_text {
		color: var(--grey-600, #4b5563);
		text-align: center;

		/* Text md/Regular */
		font-family: Inter;
		font-size: 16px;
		font-style: normal;
		font-weight: 400;
		line-height: 24px; /* 150% */

		span {
			color: var(--primary-500, #ff4b00);

			/* Text md/Semibold */
			font-family: Inter;
			font-size: 16px;
			font-style: normal;
			font-weight: 600;
			line-height: 24px;
		}
	}
}
